/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET CSS */

body{
	font-family: Helvetica,Arial,sans-serif;
}

/******** PAGE-WRAP **********/
#page-wrap{
	min-width: 960px;
	max-width: 100%;
	margin:0 auto;
}
/******** END PAGE-WRAP **********/

/**** HEADER STYLE *****/
#header{
	height:39px;
	padding:10px 0 ;
	background:#2A2E36;
}
#top_menu{
	height:100%;
	padding-left: 20px;
}
#top_menu ul li{
	display:inline-block;
	padding:10px 10px 10px 10px;
	margin-right:10px;
	background:#3F4551;
	border-radius: 3px;
}
#top_menu ul li a{
	text-decoration: none;
	color:white;
	font-size:12px;
	font-family: "Droid Sans",Helvetica,sans-serif;
	font-weight:bold;
	line-height: 1.125em;
}
/****  END HEADER STYLE *****/

/**** FORM ELEMENT STYLE *****/
form input[type="text"], input[type="password"], textarea{
	border:1px solid #d3d3d3;
	padding:12px 7px;
	border-radius: 3px;
}
form input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	border:1px solid #bbbdbe;
}
form input[type="password"], input[type="text"]{
	width:300px;
}

form textarea{
	width:430px;
	height:180px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
}
/**** FORM ELEMENT STYLE *****/
#sidebar{
float:left;
padding:20px 30px 0 20px;
width:200px;
}
#main{
padding-left:250px;
padding-top:20px;
}

#team_accord{
width:150px;
padding-right:20px;
text-align:center;
}
